@use 'sass:math';
@import "theme-variables";


/*
* LAYOUT
*/
.space-rx{
  padding-right:10vw;
  @media all and (max-width: $mobile-space-break){ padding-right: 1rem; }
}
.space-lx{
  padding-left:10vw;
  @media all and (max-width: $mobile-space-break){ padding-left: 1rem; }
}
.space-x{
  @extend .space-rx;
  @extend .space-lx;
}

.space-x-none{
  padding-left:0; padding-right:0;
}

.space-Y21{
  @extend .t-3;
  @extend .b-2;
}

.cover{
  width: 100% !important;
  height: 100% !important;
  min-height: 100% !important;
  min-width: 100% !important;
  max-height: 100% !important;
  max-width: 100% !important;
  box-sizing: border-box;
}

/*
* TYPOGRAPHY
*/

.link{
  cursor:pointer;
}

a.link{ color:$color-accent; }

.anchor{
  @extend .link;
  text-decoration: underline;
}

.capitalize{
  text-transform: capitalize;
}

.underline{
  text-decoration: underline;
}

/*
* PARTIALS
*/
.button{
  @extend .font-s;
  @extend .letter-spacing-s;
  @extend .nunito;
  font-weight: bold;

  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.button-accent{
  @extend .button;
  background-color: $color-accent;
  border: solid 2px $color-accent;
  color: white;

  &:hover {
    opacity: 0.95;
  }

  &.inverted{
    border-color: $color-accent;
    background-color: rgba(0,0,0,0)!important;
    color: $color-accent;
  }

  &.small{
    @extend .nunito;
    @extend .inverted;
    padding: 0.0.5rem 0.25em;
  }
}

a.button{
  text-decoration: none;
  display: inline-flex;
}


.about-section{
  @extend .space-x;
  @extend .b-4;
}


.bold{
  font-weight: bold;
}

.title{
  @extend .font-xxl;
  @extend .color-main;
  @extend .bold;
}

.subtitle{
  @extend .font-xl;
  @extend .color-main;
  @extend .bold;
}

// VISIBILITY
.mobile-hidden{
  @media all and (max-width: $mobile-space-break){ display: none!important; }
}
.desktop-hidden{
  @media all and (min-width: $mobile-space-break){ display: none!important; }
}

.transparent{
  opacity: 0;
}

// FORMS
.mat-form-field-text{
  font-size:0.7rem;
  line-height: 1.25rem;
}

mat-form-field{
  @extend .r-0;
  @extend .mat-form-field-text;

  .mdc-text-field--focused{
    &, .mdc-notched-outline *{
      border-color: $color-base-accent-dark!important;
      border-width: 1px!important;
    }
  }
  .mdc-notched-outline{
    & , & > * { border-color: rgba(0,0,0,0)!important; }
  }
  .mat-mdc-select-arrow{
    color: $color-base-accent-dark!important;
  }

  .mat-mdc-text-field-wrapper.mdc-text-field--outlined{
    background: white;
    border-radius: 5px;

    .mat-mdc-form-field-infix{
      @extend .mat-form-field-text;
      min-height: auto;
      width: auto;
      min-width: 3rem;
      padding: 0;
    }
  }

  .mat-mdc-select-value{
    padding:0.2rem 0.45rem 0.2rem 0.2rem;
  }

  ::ng-deep span{
    text-transform: capitalize!important;
  }

}
.cdk-overlay-container{
  .cdk-overlay-pane{ width: auto!important; }

  .mat-mdc-option {
    @extend .mat-form-field-text;
    & > * {
      font-size: 0.7rem!important;
    }
  }
  .mdc-list-item--selected .mdc-list-item__primary-text{
    color: $color-accent!important;
  }
}

.page-title-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.card-grid{
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  column-gap: $space-small-value+ $space-small-unit;
  row-gap: $space-small-value+ $space-small-unit;

  @media all and (max-width: ($mobile-space-break-value *1.5) + $mobile-space-break-unit) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  @media all and (max-width: $mobile-space-break-value+ $mobile-space-break-unit) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @media all and (max-width: math.div($mobile-space-break-value, 1.5) + $mobile-space-break-unit) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media all and (max-width: math.div($mobile-space-break-value, 2) + $mobile-space-break-unit) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
