// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$client-primary: mat.define-palette(mat.$blue-palette);
$client-accent: mat.define-palette(mat.$teal-palette, A700);

// The warn palette is optional (defaults to red).
$client-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$client-theme: mat.define-light-theme((
  color: (
    primary: $client-primary,
    accent: $client-accent,
    warn: $client-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($client-theme);
@import 'global';
/* You can add global styles to this file, and also import other style files */

html, body{
  margin: 0;
  padding: 0;
  border: none;
  color: $color-base!important;
  @extend .font-m;
  @extend .letter-spacing-none;
  @extend .roboto;
  //scroll-behavior: smooth;

  &, > * {
    min-height: 100vh;
    //max-width: 100vw;
    //width: 100vw;
    margin: 0;
    padding: 0;
    border: none;
    @extend .font-m;
  }

  &, & * {
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}


a{
  color: $color-base;
  &:hover{
    opacity:0.9;
  }
}


.mat-typography{
  p, h1, h2, h3, h4, h5, h6{
    margin:0;
    padding:0;
  }
}

p, h1, h2, h3, h4, h5, h6{
  margin:0;
  padding:0;
  letter-spacing: 0.18px;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 400;
}

