@import "theme-variables";
@import "global";

.flex-row-full{
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  position: relative;
}

:host{
  @extend .flex-row-full;

  .swipeable-container{
    @extend .flex-row-full;
    @media all and (max-width: $mobile-space-break){
      //overflow-x: scroll;
      overflow-x: hidden;
    }

    .swipeable-inner{
      @extend .flex-row-full;
      @extend .space-x;

      margin-left: -$space-small;
      margin-right: -$space-small;

      @media all and (max-width: $mobile-space-break){ padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 0; }

      @for $i from 1 through 10 {
        &.element-#{$i} {
          @media all and (max-width: $mobile-space-break){
            width: #{(100 * $i)}+'vw';
            min-width: #{(100 * $i)}+'vw';
            max-width: #{(100 * $i)}+'vw';
          }
        }
      }

      & ::ng-deep > *{
        @extend .lr-1;
        @extend .b-2;
        display:flex;
        flex-direction: column;
        flex: 1 1 0px;
        width:0;
      }
    }

  }

  .arrow{
    @extend .font-xxl;
    @extend .color-accent;
    @extend .t-1;
    position:absolute;
    z-index:100;
    top:0;

    &.left{
      @extend .space-lx;
      left:0;
    }
    &.right{
      @extend .space-rx;
      right:0;
    }

    &.disabled{opacity:0.4;}
  }
}
