@import "theme-variables";
@import "global";

section.content{
  @extend .space-x;
  @extend .b-3;
  display: grid;
  grid-template-columns: 1fr 5fr;

  @media all and (max-width: $mobile-menu-break) {
    display: flex;
    flex-direction: column;
  }

  .description{
    @extend .b-1;
    margin-top: 0.5rem;
  }
  .no-results{
    @extend .color-main;
    width: 100%;
    text-align: center;
  }
}


