<section class="space-x">
  <div *ngFor="let publication of publicationList$ | async" class="single-publication">
    <div class="icon"><i class="fa-regular fa-file"></i></div>
    <div class="content">
      <h3 class="publication-title">{{ publication.title }}</h3>
      <p class="publication-authors">{{ publication.authors }}</p>
      <p class="publication-publisher">{{ publication.publisher }}</p>
      <a class="publication-url link" *ngIf="!!publication.url" [href]="publication.url" target="_blank">{{ publication.url }}</a>
    </div>
  </div>
</section>
