<section class="space-x b-3 font-m">
  Our health and wellbeing can be threatened by pervasive diseases such as influenza and COVID-19.
  InfluenzaNet is a <strong>crowdsourcing</strong> network of
  <span class="anchor" routerLink="/team">national platforms</span>
  that allows <strong>European volunteers</strong> in <strong>12 countries</strong> to help us track these diseases by self-reporting their health status
  <span class="anchor" routerLink="/about-data">every week</span>.
</section>

<!--<section class="location space-x b-4">-->
<!--  <div style="display:flex; flex-direction: column;">-->
<!--    <div style="display:flex; justify-content: center;">-->
<!--      <img-->
<!--        class="map"-->
<!--        src="/assets/img/placeholders/Map_countries.png"-->
<!--        alt="Map of Europe with the countries where National Platform are active"-->
<!--      >-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<section class="space-x tb-4">
  <div class="subtitle b-2">Our teams</div>
  <platform-card-grid></platform-card-grid>
</section>

<section class="eu-projects space-x tb-6"  id="euProjects" #euProjects>
  <div class="color-accent">EU Projects</div>
  <div class="subtitle b-2">Support by the European Commission with the following grants</div>
  <platform-card-grid [data]="projectList"></platform-card-grid>
</section>
