@import "theme-variables";
@import "global";

.mat-expansion-panel{
  box-shadow: none;
  border-bottom: solid 1px #f4f4f4;
  border-radius: 0;
  border-bottom-right-radius: 0!important;
  border-bottom-left-radius: 0!important;
  @extend .color-base;
  background-color: rgba(0,0,0,0);


  mat-expansion-panel-header{
    padding-left: 0;
    padding-right: 0;
    @extend .t-2;
    @extend .b-2;

    mat-panel-title{
      @extend .font-m;
      @extend .color-base;
      font-weight: 500;
      display:flex;
      flex-direction: row;
      align-items: center;

      .panel-toggle{
        @extend .color-accent;
        @extend .font-xl;
        @extend .r-1;
      }
      .panel-title{
        @extend .l-0;
      }
    }
  }

  .mat-panel-content{
    @extend .font-m;
    @extend .t-1;
    @extend .b-0;
  }
}
