<div class="platform">
  <!-- Platform Title Section-->
  <p class="platform-title">
    <span>
      <span class="link underline">
        <span>Data Source: </span>
        <strong class="link underline" (click)="goToPlatform(platform())">{{ platform().name }}</strong>
      </span>
      <span [hidden]="!platform()" (click)="goToPlatform(platform())" >
        <span class="arrow">
          <i class="fa-solid fa-arrow-right mobile-hidden"></i>
        </span>
      </span>
    </span>
  </p>

  <!-- Platform Graph Section-->
  <swipeable [arrows]="true" class="data-container">
    <div #slide>
      <p class="platform-data-title"><span><strong>Active Users</strong> (weekly)</span></p>
        @defer(prefetch on idle){
          <platform-data-chart
            [data]="platform().graphData?.active"
            dataType="active"
            #activeUsersChart
          ></platform-data-chart>
          <a
            [class.transparent]="!activeUsersChart?.hasData()"
            [href]="'/public/data/platform-data/'+platform().filePrefix+'_active.csv'"
            target="_blank"
            class="link"
          >Download the data (.csv)</a>
        }
        @placeholder { <div class="chart-placeholder"><i class="fa-solid fa-circle-notch fa-spin text-xl"></i></div> }
    </div>

    <div #slide>
      <p class="platform-data-title"><span><strong>Incidence</strong> (ILI / per 1000)</span></p>
      @defer(prefetch on idle){
        <platform-data-chart
          [data]="platform().graphData?.incidence"
          dataType="incidence"
          #incidenceChart
        ></platform-data-chart>
        <a
          [class.transparent]="!incidenceChart?.hasData()"
          [href]="'/public/data/platform-data/'+platform()?.filePrefix+'_incidence.csv'"
          target="_blank"
          class="link"
        >Download the data (.csv)</a>
      }
      @placeholder { <div class="chart-placeholder"><i class="fa-solid fa-circle-notch fa-spin text-xl"></i></div> }
    </div>

    <div #slide>
      <p class="platform-data-title"><span><strong>Visits Cumulative</strong> (ILI / per 100)</span></p>
      @defer(prefetch on idle){
        <platform-data-chart
          [data]="platform().graphData?.visits_cumulated"
          dataType="visits_cumulated"
          #visitsCumulatedChart
        ></platform-data-chart>
        <a
          [class.transparent]="!visitsCumulatedChart?.hasData()"
          [href]="'/public/data/platform-data/'+platform().filePrefix+'_visits_cumulated.csv'"
          target="_blank"
          class="link"
        >Download the data (.csv)</a>
      }
      @placeholder { <div class="chart-placeholder"><i class="fa-solid fa-circle-notch fa-spin text-xl"></i></div> }
    </div>
  </swipeable>
</div>

