<div class="content">
  <section class="about-section">
    <p>The Influenzanet participatory surveillance system is based on online survey technology to conduct syndromic surveillance through self-reported symptoms volunteered by participants resident in the Influenzanet countries. These platforms collect background demographic and risk-factor data from participants upon enrollment, capture their weekly symptoms, and report analyzed surveillance results.</p>
    <p>The aim of Influenzanet is to establish a standardized syndromic surveillance system across European countries from both a technological and epidemiological point of view.</p>
    <p>Its crowdsourced data offer flexibility for the exploration of different ILI or ARI case definitions, provide detailed information to profile the population under surveillance, to estimate vaccine coverage or assess ILI-associated behaviors. Its standardized framework and centralized European database allow for country-level analyses and rapid extension to the European level, maintaining identical criteria and definitions.</p>
    <p>Indicators for Influenza-like Illness and COVID-19 based on data collected through the Influenzanet platforms are included in the
      <a href="https://flunewseurope.org/PrimaryCareData/ILI" target="_blank">FluNews weekly bulletin jointly</a> published by ECDC and WHO Europe.</p>
  </section>

  <section class="call-to-action">
    <div class="call-to-action__container">
<!--      <p class="call-to-action__text">-->
<!--        In the page "explore the data", the number of active participants, the number of ILI and COVID-19 onsets and the calculated incidence as well as the number of people who seeked healthcare are listed for each week. The incidence for Influenza-like Illness (ILI) can be downloaded as CSV files (importable into Excel).-->
<!--      </p>-->
      <span routerLink="/explore-data" class="button-accent">Explore the data</span>
    </div>
  </section>

  <section class="space-x t-3 b-6">
    <quarter-grid>
      <div title>Glossary</div>
      <div description>
        <p>Here are some useful keywords that can help to better understand the collected data. For a detailed description of the analysis,
          it is possible to <a href="/assets/documents/Influenzanet_Indicators_for_ECDC.docx">download the protocol</a> used to aggregate the data.
          Analyses are performed by the GrippeNet.fr team, from Inserm - Sorbonne Université, in collaboration with Santé publique France.</p>
      </div>
      <div content>
        <glossary-accordion></glossary-accordion>
      </div>
    </quarter-grid>

    <div class="t-4">
      <h3 class="subtitle">Restricted access</h3>
      <br>
      <p>
        Influenzanet welcomes collaboration with scientists and researchers outside our consortium.
        If you are interested, in particular in international Influenzanet data, please, write to <a href="mailto:daniela.paolotti@isi.it">daniela.paolotti<span>&#64;</span>isi.it</a>.
        Your application is subject to approval from the Influenzanet Science Committee, which aims to react within short notice to your request. <br>
        To obtain access to the more detailed Influenzanet data, please contact the national organisers of the Influenzanet systems.
        Any privacy sensitive information, such as email-addresses, will not be shared with third parties.<br>
        When using the data please attribute it to Influenzanet as follows: "Data Source: Influenzanet (https://influenzanet.info)".
      </p>

    </div>
  </section>
</div>
